<div id="header">
	<div id="site-name">Irish Optimist</div>
	<div id="search">
		<!-- 
		<form action="">
		<label for="searchsite">Site Search:</label>
		<input id="searchsite" name="searchsite" type="text" />
		<input type="submit" value="Go" class="f-submit" />
		</form>
		-->
	</div>
	<ul id="nav">
	<li class="first"><a href="#">Home</a></li>
	<li class="active"><%= link_to 'Irish Football News', articles_path %></a>
		<ul>
		  <li class="first"><a href="#">Charlie Weis</a></li>
		  <li><a href="#">Jimmy Clausen</a></li>
		  <li><a href="#">Golden Tate</a></li>
      <li><a href="#">Manti Te'o</a></li>
      <li><a href="#">Recruiting</a></li>
		</ul>
	</li>
	<li class=""><a href="#">Posts</a></li>
	</ul>
</div>