<%# iui_toolbar "Irish Optimist home", root_url %>
       
<!-- create the primary toolbar -->
<div class="toolbar">
  <h1 id="pageTitle"></h1>
  <a id="backButton" class="button" href="#"></a>
</div>

<ul id="home" title="IrishOptimist" selected="true">
  <li class="group">Latest IrishOptimist.com News:</li>
<% @articles.each do |article| %>
  <li>
    <a target="_blank" href="<%= article.url %>"><%= article.title %>&nbsp;
    <span style="font-size:small;color:gray;">
      printed:<i><%= distance_of_time_in_words(article.printed_date, Time.now) %> ago</i>
    </span>
    </a>
  </li>
<% end %>
  </li>
</ul>


