
<div id="player" class="panel" title="ND news selected">
  <h1><%=h @article.title %></h1>
  <h2><%=h @article.content %></h2>
  <p><a href="<%=h @article.url %>" target="_blank">view article</a></p>
</div>


