<div id="columns" class="no-bg">
  <h2>MY PORTFOLIO</h2>
    <div class="box portfolio">
      <!-- DISPLAYS THE IMAGE URL SPECIFIED IN THE CUSTOM FIELD -->
      <div class="pic fl">
        <a title="Permanent Link to Vibrant CMS" 
          href="http://www.woothemes.com/demo/freshfolio/2008/06/17/vibrant-cms/">
          <img src="http://www.woothemes.com/demo/freshfolio/wp-content/themes/freshfolio/thumb.php?src=http://www.woothemes.com/demo/uploads/vibrantcms.jpg&amp;h=180&amp;w=515&amp;zc=1&amp;q=90" 
          alt="Vibrant CMS" />
        </a>       
      </div>   
      	
      <div class="item-text">
        <h3>
          <a href="http://www.woothemes.com/demo/freshfolio/2008/06/17/vibrant-cms/" rel="bookmark" title="Vibrant CMS">Vibrant CMS</a>
        </h3>
        <div class="portfolio-meta">
          <span class="website">
            <a href="http://www.woothemes.com/demo/vibrantcms/" title="Visit The Website">Website</a>
          </span>
          <span class="details">
            <a href="http://www.woothemes.com/demo/freshfolio/2008/06/17/vibrant-cms/" 
                title="Vibrant CMS">Details</a>
          </span>
   				<span class="larger">
   				  <a href="http://www.woothemes.com/demo/uploads/lvibrantcms.jpg" title="Preview - Vibrant CMS" rel="lightbox">Large Image</a>
   				</span>
   					                    </div>
                       <div class="fix"></div>

                       <p>Massa amet. Congue a ut, in vestibulum in, in mauris sollicitudin. Enim sed. Purus justo sit, nam massa. Quis ultricies malesuada. Amet consectetuer. Vestibulum vestibulum, malesuada inceptos erat. Maecenas a, nec molestie, rhoncus lacus etiam. Nonummy nibh, facilisi ut mauris, venenatis maecenas. Enim amet, aenean sed in. Tellus lacus.</p>

                   </div>               

   				<div class="fix"></div>
   			</div>
   			<!--/box-->


   			<div class="box portfolio">

   				 <!-- DISPLAYS THE IMAGE URL SPECIFIED IN THE CUSTOM FIELD -->

   				<div class="pic fl">


                       <a title="Permanent Link to Fresh News" href="http://www.woothemes.com/demo/freshfolio/2008/06/17/fresh-new/"><img src="http://www.woothemes.com/demo/freshfolio/wp-content/themes/freshfolio/thumb.php?src=http://www.woothemes.com/demo/uploads/freshnews.jpg&amp;h=180&amp;w=515&amp;zc=1&amp;q=90" alt="Fresh News" /></a>       



                   </div>   	



   				<div class="item-text">

                       <h3><a href="http://www.woothemes.com/demo/freshfolio/2008/06/17/fresh-new/" rel="bookmark" title="Fresh News">Fresh News</a></h3>

                       <div class="portfolio-meta">

   					                        <span class="website"><a href="http://www.woothemes.com/demo/freshnews/" title="Visit The Website">Website</a></span> 
   					                        <span class="details"><a href="http://www.woothemes.com/demo/freshfolio/2008/06/17/fresh-new/" title="Fresh News">Details</a></span>
   											<span class="larger"><a href="http://www.woothemes.com/demo/uploads/lfreshnews.jpg" title="Preview - Fresh News" rel="lightbox">Large Image</a></span>
   					                    </div>
                       <div class="fix"></div>

                       <p>Magna orci. Nec sed sapien, eros nam. Ultrices metus, porta ac, luctus nisl tincidunt. A ut, in ultricies quis. Nulla non. Aliquam arcu, proin adipiscing. Odio tristique, donec eleifend elit, ac mollis in. Sit metus, eros quam integer. Mattis imperdiet, at ullamcorper, wisi interdum. Vulputate velit, integer aliquip. Volutpat suspendisse, sed consectetuer.</p>

                   </div>               

   				<div class="fix"></div>
   			</div>
   			<!--/box-->


   			<div class="box portfolio">

   				 <!-- DISPLAYS THE IMAGE URL SPECIFIED IN THE CUSTOM FIELD -->

   				<div class="pic fl">


                       <a title="Permanent Link to Livewire" href="http://www.woothemes.com/demo/freshfolio/2008/06/17/livewire-2/"><img src="http://www.woothemes.com/demo/freshfolio/wp-content/themes/freshfolio/thumb.php?src=http://www.woothemes.com/demo/uploads/livewire-20.jpg&amp;h=180&amp;w=515&amp;zc=1&amp;q=90" alt="Livewire" /></a>       



                   </div>   	



   				<div class="item-text">

                       <h3><a href="http://www.woothemes.com/demo/freshfolio/2008/06/17/livewire-2/" rel="bookmark" title="Livewire">Livewire</a></h3>

                       <div class="portfolio-meta">

   					                        <span class="website"><a href="http://www.woothemes.com/demo/livewire2/" title="Visit The Website">Website</a></span> 
   					                        <span class="details"><a href="http://www.woothemes.com/demo/freshfolio/2008/06/17/livewire-2/" title="Livewire">Details</a></span>
   					                    </div>
                       <div class="fix"></div>

                       <p>Augue elit, morbi dui. Nisl wisi risus. Suscipit pulvinar, eu pede, mi sodales voluptatem. Mi morbi, sollicitudin suspendisse vel. Cum sit cursus. Amet justo, ac euismod cras. Convallis vel aliquam, hymenaeos tincidunt nec, convallis dolor. Adipiscing non, nunc sed laoreet. Rutrum sapien ut, ante pede, pellentesque pellentesque. Mauris elit vivamus, sodales ipsum, elit scelerisque. Lacus [...]</p>

                   </div>               

   				<div class="fix"></div>
   			</div>
   			<!--/box-->


   			<div class="box portfolio">

   				 <!-- DISPLAYS THE IMAGE URL SPECIFIED IN THE CUSTOM FIELD -->

   				<div class="pic fl">


                       <a title="Permanent Link to Flash News" href="http://www.woothemes.com/demo/freshfolio/2008/05/17/flashnew/"><img src="http://www.woothemes.com/demo/freshfolio/wp-content/themes/freshfolio/thumb.php?src=http://www.woothemes.com/demo/uploads/flashnews.jpg&amp;h=180&amp;w=515&amp;zc=1&amp;q=90" alt="Flash News" /></a>       



                   </div>   	



   				<div class="item-text">

                       <h3><a href="http://www.woothemes.com/demo/freshfolio/2008/05/17/flashnew/" rel="bookmark" title="Flash News">Flash News</a></h3>

                       <div class="portfolio-meta">

   					                        <span class="website"><a href="http://www.woothemes.com/demo/flashnews/" title="Visit The Website">Website</a></span> 
   					                        <span class="details"><a href="http://www.woothemes.com/demo/freshfolio/2008/05/17/flashnew/" title="Flash News">Details</a></span>
   					                    </div>
                       <div class="fix"></div>

                       <p>Primis tempus a, odio massa. Fermentum odio, non pellentesque vestibulum, nisl viverra orci. Metus mi odio, platea nunc. Eu asperiores, lacinia congue eu, sapien nulla vestibulum. Nam amet, suspendisse ac. Non vitae amet, ligula mi. A donec, porta ut. Nisl senectus ut. Orci nunc, nisl mauris, enim lectus. Erat dictum. Magna et nunc, at dolor.</p>

                   </div>               

   				<div class="fix"></div>
   			</div>
   			<!--/box-->



               <div class="navigation">
                   <div class="fl"></div>
                   <div class="fr"></div>
               </div>		

  <div class="fix"></div>
</div>   