<div id="columns" class="no-bg">
  <h2>MY PORTFOLIO</h2>
    <div class="box portfolio">
      <!-- DISPLAYS THE IMAGE URL SPECIFIED IN THE CUSTOM FIELD -->
      <div class="pic fl">
        <a title="RedGrind Screencasts" href="http://redgrind.heroku.com">
          <img src="" alt="RedGrind.com" />
        </a>       
      </div>   
      <div class="item-text">
        <h3>
          <a href="http://redgrind.heroku.com" rel="bookmark" title="RedGrind Screencasts">RedGrind.com</a>
        </h3>
        <div class="portfolio-meta">
          <span class="website">
            <a href="http://redgrind.heroku.com" title="Visit The Website">Website</a>
          </span>
          <span class="larger">
   				  <a href="">Large Image</a>
   				</span>
   			</div>
        <div class="fix"></div>
          <p>
            Web application development and screencasting development.  Social aspects allow other users to 
            load, purchase, sell, and rate screencasts.  
          </p>
          <p>
            <ul>
              <strong>Technologies/Platform:</strong>
              <li>Ruby 1.9</li>
              <li>Rails 3</li>
              <li>Heroku</li>
              <li>jQuery</li>
              <li>PostgreSQL</li>
              <li>MongoDB</li>
              <li>Memcached</li>
              <li>AWS-S3</li>
            </ul>
          </p>
        </div>               
        <div class="fix"></div>
   		</div><!--/box-->

      <div class="box portfolio">
        <!-- DISPLAYS THE IMAGE URL SPECIFIED IN THE CUSTOM FIELD -->
        <div class="pic fl">
          <a title="Mark Holton" href="http://markholton.com">
            <img src="" alt="markholton.com" />
          </a>       
        </div>   

        <div class="item-text">
          <h3>
            <a href="http://markholton.com" rel="bookmark" title="Mark Holton's blog">EyeOnMajors.com</a>
          </h3>
          <div class="portfolio-meta">
            <span class="website">
              <a href="http://markholton.com" title="Visit The Website">Website</a>
            </span>
            <span class="larger">
     				  <a href="">Large Image</a>
     				</span>
     			</div>
          <div class="fix"></div>
            <p>
              EyeOnMajors something
            </p>
            <p>
              <ul>
                <strong>Technologies/Platform:</strong>
                <li>Ruby 1.8.7</li>
                <li>Rails 2.3.8</li>
                <li>Heroku</li>
                <li>Prototype.js</li>
                <li>PostgreSQL</li>
                <li>Memcached</li>
              </ul>
            </p>
          </div>               
          <div class="fix"></div>
     		</div><!--/box-->
     		
        <div class="box portfolio">
          <!-- DISPLAYS THE IMAGE URL SPECIFIED IN THE CUSTOM FIELD -->
          <div class="pic fl">
            <a title="RedGrind Screencasts" 
              href="http://redgrind.heroku.com">
              <img src="" alt="RedGrind.com" />
            </a>       
          </div>   

          <div class="item-text">
            <h3>
              <a href="http://redgrind.heroku.com" rel="bookmark" title="RedGrind Screencasts">MarkHolton.com</a>
            </h3>
            <div class="portfolio-meta">
              <span class="website">
                <a href="http://redgrind.heroku.com" title="Visit The Website">Website</a>
              </span>
              <span class="larger">
       				  <a href="">Large Image</a>
       				</span>
       			</div>
            <div class="fix"></div>
              <p>
                Somethin somethin about this site
              </p>
              <p>
                <ul>
                  <strong>Technologies/Platform:</strong>
                  <li>Ruby 1.9</li>
                  <li>Rails 3</li>
                  <li>Heroku</li>
                  <li>Prototype.js</li>
                  <li>PostgreSQL</li>
                  <li>Memcached</li>
                </ul>
              </p>
            </div>               
            <div class="fix"></div>
       		</div><!--/box-->



               <div class="navigation">
                   <div class="fl"></div>
                   <div class="fr"></div>
               </div>		

  <div class="fix"></div>
</div>   