
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head profile="http://gmpg.org/xfn/11">

<title>Freshfolio  |  Portfolio</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="robots" content="index, nofollow" />

<link rel="stylesheet" type="text/css" href="http://www.woothemes.com/demo/freshfolio/wp-content/themes/freshfolio/style.css" media="screen" />
<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="http://www.woothemes.com/demo/freshfolio/feed/" />
<link rel="pingback" href="http://www.woothemes.com/demo/freshfolio/xmlrpc.php" />
<!--[if lt IE 7]>
<script type="text/javascript" src="http://www.woothemes.com/demo/freshfolio/wp-content/themes/freshfolio/includes/js/unitpngfix.js"></script>
<link rel="stylesheet" type="text/css" href="http://www.woothemes.com/demo/freshfolio/wp-content/themes/freshfolio/ie6.css" media="screen" />
<![endif]--> 

<link rel="alternate" type="application/rss+xml" title="Freshfolio &raquo; Portfolio Comments Feed" href="http://www.woothemes.com/demo/freshfolio/portfolio/feed/" />
<script type='text/javascript' src='http://www.woothemes.com/demo/freshfolio/wp-includes/js/comment-reply.js?ver=20090102'></script>
<script type='text/javascript' src='http://www.woothemes.com/demo/freshfolio/wp-includes/js/jquery/jquery.js?ver=1.4.2'></script>
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://www.woothemes.com/demo/freshfolio/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://www.woothemes.com/demo/freshfolio/wp-includes/wlwmanifest.xml" /> 
<link rel='index' title='Freshfolio' href='http://www.woothemes.com/demo/freshfolio/' />
<link rel='prev' title='Archives' href='http://www.woothemes.com/demo/freshfolio/archives/' />
<meta name="generator" content="WordPress 3.0.1" />
<link rel='canonical' href='http://www.woothemes.com/demo/freshfolio/portfolio/' />
<link rel="stylesheet" href="http://www.woothemes.com/demo/freshfolio/wp-content/plugins/ajax-calendar/calendar.css" type="text/css" media="screen" title="no title" charset="utf-8"/>
<script type="text/javascript" src="http://www.woothemes.com/demo/freshfolio/wp-content/plugins/ajax-calendar/js/microajax.js"></script>
<script type="text/javascript" charset="utf-8">
/*<![CDATA[ */
	function calendar (year,month,full,base)
	{
		microAjax ('http://www.woothemes.com/demo/freshfolio/wp-content/plugins/ajax-calendar/ajax.php?full=' + full + '&month=' + month + '&year=' + year + '&base=' + base, function(response) { document.getElementById ('giraffe_calendar').innerHTML = response});
		return false;
	}
/*]]>*/
</script>
<meta name="generator" content="Fresh Folio 2.3.1" />
<meta name="generator" content="Woo Framework Version 3.0.03" />
<link href="http://www.woothemes.com/demo/freshfolio/wp-content/themes/freshfolio/styles/default.css" rel="stylesheet" type="text/css" />
<link href="http://www.woothemes.com/demo/freshfolio/wp-content/themes/freshfolio/functions/css/shortcodes.css" rel="stylesheet" type="text/css" />
<link href="http://www.woothemes.com/demo/freshfolio/wp-content/themes/freshfolio/custom.css" rel="stylesheet" type="text/css" />

</head>

<body>


<div id="background">

<div id="page">

	<div id="header">

		<div id="logo">
            <h1><a href="http://www.woothemes.com/demo/freshfolio"><img src="http://www.woothemes.com/demo/freshfolio/wp-content/themes/freshfolio/images/logo.png" alt="Freshfolio" /></a></h1>			
			<p id="description">Just another WooThemes demo <a href="http://www.woothemes.com/demo/freshfolio/?page_id=" title="Read more...">Read more &#187;</a></p>
		</div>
		<!--/logo-->

		<div id="menu">
			<div id="nav1">
								<ul>
					                    <li ><a href="http://www.woothemes.com/demo/freshfolio/"><span>Home</span></a></li>
                    <li class="page_item page-item-12"><a href="http://www.woothemes.com/demo/freshfolio/about/" title="About"><span>About</span></a></li>
<li class="page_item page-item-24"><a href="http://www.woothemes.com/demo/freshfolio/archives/" title="Archives"><span>Archives</span></a></li>
<li class="page_item page-item-27 current_page_item"><a href="http://www.woothemes.com/demo/freshfolio/portfolio/" title="Portfolio"><span>Portfolio</span></a></li>
                    				</ul>
							</div>
			<!--/nav1-->
        </div>
        <!--menu-->

		<!-- Featured portfolio item -->
		        <!-- FIRST LOOP (start) Only show posts from category ("portfolio") -->
        
		    
        
        <div id="latest">
        
			 <!-- DISPLAYS THE IMAGE URL SPECIFIED IN THE CUSTOM FIELD -->
            
            <div class="pic">

                
                <a title="Vibrant CMS" href="http://www.woothemes.com/demo/freshfolio/2008/06/17/vibrant-cms/"><img src="http://www.woothemes.com/demo/freshfolio/wp-content/themes/freshfolio/thumb.php?src=http://www.woothemes.com/demo/uploads/vibrantcms.jpg&amp;h=180&amp;w=515&amp;zc=1&amp;q=100" alt="Vibrant CMS" /></a>       

                             

            </div>   	
           
            										
    
            <div class="demo">
                <p class="fl">LATEST PROJECT: <a href="http://www.woothemes.com/demo/freshfolio/2008/06/17/vibrant-cms/">Vibrant CMS</a></p>
                
				                
                <p class="fr"><a href="http://www.woothemes.com/demo/vibrantcms/" class="btn-demo">VIEW</a></p>
                
                                
            </div>
            <!--/demo-->
        
        </div>
        <!--/latest-->
        
        					
                        
        <!-- FIRST LOOP (end) -->
        
	</div>
	<!--/header --> 
	     
	<div id="columns" class="no-bg">
				
            <h2>MY PORTFOLIO</h2>
            
			            
			<div class="box portfolio">

				 <!-- DISPLAYS THE IMAGE URL SPECIFIED IN THE CUSTOM FIELD -->
                
				<div class="pic fl">

					
                    <a title="Permanent Link to Vibrant CMS" href="http://www.woothemes.com/demo/freshfolio/2008/06/17/vibrant-cms/"><img src="http://www.woothemes.com/demo/freshfolio/wp-content/themes/freshfolio/thumb.php?src=http://www.woothemes.com/demo/uploads/vibrantcms.jpg&amp;h=180&amp;w=515&amp;zc=1&amp;q=90" alt="Vibrant CMS" /></a>       
 
                                 

                </div>   	
               
														
                                
				<div class="item-text">

                    <h3><a href="http://www.woothemes.com/demo/freshfolio/2008/06/17/vibrant-cms/" rel="bookmark" title="Vibrant CMS">Vibrant CMS</a></h3>
                    
                    <div class="portfolio-meta">
                    
					                        <span class="website"><a href="http://www.woothemes.com/demo/vibrantcms/" title="Visit The Website">Website</a></span> 
					                        <span class="details"><a href="http://www.woothemes.com/demo/freshfolio/2008/06/17/vibrant-cms/" title="Vibrant CMS">Details</a></span>
											<span class="larger"><a href="http://www.woothemes.com/demo/uploads/lvibrantcms.jpg" title="Preview - Vibrant CMS" rel="lightbox">Large Image</a></span>
					                    </div>
                    <div class="fix"></div>
                                        
                    <p>Massa amet. Congue a ut, in vestibulum in, in mauris sollicitudin. Enim sed. Purus justo sit, nam massa. Quis ultricies malesuada. Amet consectetuer. Vestibulum vestibulum, malesuada inceptos erat. Maecenas a, nec molestie, rhoncus lacus etiam. Nonummy nibh, facilisi ut mauris, venenatis maecenas. Enim amet, aenean sed in. Tellus lacus.</p>
                    
                </div>               
                
				<div class="fix"></div>
			</div>
			<!--/box-->
                                   
            
			<div class="box portfolio">

				 <!-- DISPLAYS THE IMAGE URL SPECIFIED IN THE CUSTOM FIELD -->
                
				<div class="pic fl">

					
                    <a title="Permanent Link to Fresh News" href="http://www.woothemes.com/demo/freshfolio/2008/06/17/fresh-new/"><img src="http://www.woothemes.com/demo/freshfolio/wp-content/themes/freshfolio/thumb.php?src=http://www.woothemes.com/demo/uploads/freshnews.jpg&amp;h=180&amp;w=515&amp;zc=1&amp;q=90" alt="Fresh News" /></a>       
 
                                 

                </div>   	
               
														
                                
				<div class="item-text">

                    <h3><a href="http://www.woothemes.com/demo/freshfolio/2008/06/17/fresh-new/" rel="bookmark" title="Fresh News">Fresh News</a></h3>
                    
                    <div class="portfolio-meta">
                    
					                        <span class="website"><a href="http://www.woothemes.com/demo/freshnews/" title="Visit The Website">Website</a></span> 
					                        <span class="details"><a href="http://www.woothemes.com/demo/freshfolio/2008/06/17/fresh-new/" title="Fresh News">Details</a></span>
											<span class="larger"><a href="http://www.woothemes.com/demo/uploads/lfreshnews.jpg" title="Preview - Fresh News" rel="lightbox">Large Image</a></span>
					                    </div>
                    <div class="fix"></div>
                                        
                    <p>Magna orci. Nec sed sapien, eros nam. Ultrices metus, porta ac, luctus nisl tincidunt. A ut, in ultricies quis. Nulla non. Aliquam arcu, proin adipiscing. Odio tristique, donec eleifend elit, ac mollis in. Sit metus, eros quam integer. Mattis imperdiet, at ullamcorper, wisi interdum. Vulputate velit, integer aliquip. Volutpat suspendisse, sed consectetuer.</p>
                    
                </div>               
                
				<div class="fix"></div>
			</div>
			<!--/box-->
                                   
            
			<div class="box portfolio">

				 <!-- DISPLAYS THE IMAGE URL SPECIFIED IN THE CUSTOM FIELD -->
                
				<div class="pic fl">

					
                    <a title="Permanent Link to Livewire" href="http://www.woothemes.com/demo/freshfolio/2008/06/17/livewire-2/"><img src="http://www.woothemes.com/demo/freshfolio/wp-content/themes/freshfolio/thumb.php?src=http://www.woothemes.com/demo/uploads/livewire-20.jpg&amp;h=180&amp;w=515&amp;zc=1&amp;q=90" alt="Livewire" /></a>       
 
                                 

                </div>   	
               
														
                                
				<div class="item-text">

                    <h3><a href="http://www.woothemes.com/demo/freshfolio/2008/06/17/livewire-2/" rel="bookmark" title="Livewire">Livewire</a></h3>
                    
                    <div class="portfolio-meta">
                    
					                        <span class="website"><a href="http://www.woothemes.com/demo/livewire2/" title="Visit The Website">Website</a></span> 
					                        <span class="details"><a href="http://www.woothemes.com/demo/freshfolio/2008/06/17/livewire-2/" title="Livewire">Details</a></span>
					                    </div>
                    <div class="fix"></div>
                                        
                    <p>Augue elit, morbi dui. Nisl wisi risus. Suscipit pulvinar, eu pede, mi sodales voluptatem. Mi morbi, sollicitudin suspendisse vel. Cum sit cursus. Amet justo, ac euismod cras. Convallis vel aliquam, hymenaeos tincidunt nec, convallis dolor. Adipiscing non, nunc sed laoreet. Rutrum sapien ut, ante pede, pellentesque pellentesque. Mauris elit vivamus, sodales ipsum, elit scelerisque. Lacus [...]</p>
                    
                </div>               
                
				<div class="fix"></div>
			</div>
			<!--/box-->
                                   
            
			<div class="box portfolio">

				 <!-- DISPLAYS THE IMAGE URL SPECIFIED IN THE CUSTOM FIELD -->
                
				<div class="pic fl">

					
                    <a title="Permanent Link to Flash News" href="http://www.woothemes.com/demo/freshfolio/2008/05/17/flashnew/"><img src="http://www.woothemes.com/demo/freshfolio/wp-content/themes/freshfolio/thumb.php?src=http://www.woothemes.com/demo/uploads/flashnews.jpg&amp;h=180&amp;w=515&amp;zc=1&amp;q=90" alt="Flash News" /></a>       
 
                                 

                </div>   	
               
														
                                
				<div class="item-text">

                    <h3><a href="http://www.woothemes.com/demo/freshfolio/2008/05/17/flashnew/" rel="bookmark" title="Flash News">Flash News</a></h3>
                    
                    <div class="portfolio-meta">
                    
					                        <span class="website"><a href="http://www.woothemes.com/demo/flashnews/" title="Visit The Website">Website</a></span> 
					                        <span class="details"><a href="http://www.woothemes.com/demo/freshfolio/2008/05/17/flashnew/" title="Flash News">Details</a></span>
					                    </div>
                    <div class="fix"></div>
                                        
                    <p>Primis tempus a, odio massa. Fermentum odio, non pellentesque vestibulum, nisl viverra orci. Metus mi odio, platea nunc. Eu asperiores, lacinia congue eu, sapien nulla vestibulum. Nam amet, suspendisse ac. Non vitae amet, ligula mi. A donec, porta ut. Nisl senectus ut. Orci nunc, nisl mauris, enim lectus. Erat dictum. Magna et nunc, at dolor.</p>
                    
                </div>               
                
				<div class="fix"></div>
			</div>
			<!--/box-->
                                   
            
                        
            <div class="navigation">
                <div class="fl"></div>
                <div class="fr"></div>
            </div>		

		<div class="fix"></div>
	</div>
	<!--/columns -->

	<div id="footer">
		<p class="fl">&copy; 2010 Freshfolio. Powered by <a href="#">WordPress</a>. <a href="http://validator.w3.org/check?uri=http://www.woothemes.com/demo/freshfolio"><img src="http://www.woothemes.com/demo/freshfolio/wp-content/themes/freshfolio/images/ico-html.gif" alt="HTML" /></a> <a href="http://jigsaw.w3.org/css-validator/validator?uri=http://www.woothemes.com/demo/freshfolio"><img src="http://www.woothemes.com/demo/freshfolio/wp-content/themes/freshfolio/images/ico-css.gif" alt="CSS" /></a></p>
		<p class="fr"><a href="http://www.woothemes.com">Fresh Folio</a> by <a href="http://www.woothemes.com" title="WooThemes - Premium WordPress Themes"><img src="http://www.woothemes.com/demo/freshfolio/wp-content/themes/freshfolio/images/woothemes.png" alt="WooThemes - Premium WordPress Themes" /></a></p>
	</div>
	<!--/footer -->
	</div>
<!--/page -->



</div><!-- /#background -->

<script type="text/javascript" src="http://twitter.com/javascripts/blogger.js"></script>
<script type="text/javascript" src="http://twitter.com/statuses/user_timeline/woothemes.json?callback=twitterCallback2&amp;count=1"></script>

</body>
</html>