<!-- Featured portfolio item -->
<!-- FIRST LOOP (start) Only show posts from category ("portfolio") -->
<div id="latest">
  <!-- DISPLAYS THE IMAGE URL SPECIFIED IN THE CUSTOM FIELD -->
  <div class="pic">
    <a title="EyeOnMajors" href="/portfolios/1">
      <%= image_tag("thumb_port.jpg", :alt=>"EyeOnMajors.com")%>
    </a>       
  </div>   	
  <div class="demo">
    <p class="fl">LATEST PROJECT: 
      <a href="/portfolios/1">EyeOnMajors.com</a>
    </p>
    <p class="fr"><a target="_blank" href="http://www.eyeonmajors.com/" class="btn-demo">VIEW</a></p>
  </div><!--/demo-->
</div><!--/latest-->
<!-- FIRST LOOP (end) -->