<div class="flickr">
  <script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=3&amp;display=latest&amp;size=s&amp;layout=x&amp;source=user&amp;user=53234803%40N05">
  </script>        
</div>
<div class="fix"></div>