<div class="pics">
  <!-- DISPLAYS THE IMAGE URL SPECIFIED IN THE CUSTOM FIELD -->
  <a style="display:block;padding:4px;" title="RedGrind" href="http://redgrind.heroku.com">
    http://redgrind.heroku.com
  </a>       
  <a style="display:block;padding:4px;" title="EyeOnMajors" href="http://eyeonmajors.com">
    http://eyeonmajors.com
  </a>       
  <a style="display:block;padding:4px;" title="MarkHolton" href="http://markholton.com">
    http://markholton.com
  </a>       
  
</div>