<div id="menu">
  <div id="nav1">
	  <ul>
		  <li class="current_page_item">
		    <%= link_to "<span>Home</span>", root_path() %>
		  </li>
		  <li class="page_item page-item-12">
		    <%= link_to "<span>About</span>", about_path() %>
		  </li>
		  <li class="page_item page-item-24">
		    <%= link_to "<span>Archives</span>", posts_path() %>
		  </li>
		  <li class="page_item page-item-27">
		    <%= link_to "<span>Portfolio</span>", portfolios_path() %>
		  </li>
		</ul>
	</div> <!--/nav1-->
</div><!--menu-->
