<h3>2009 ND Football Schedule</h3>
<div>
  <table class="table1">
    <tr><th>Date</th><th>Opponent</th><th>Result</th></tr>
    <tr><td>9/5</td><td nowrap="true">Nevada</td><td><b class="win">W</b> 35-0</td></tr>
    <tr><td>9/12</td><td nowrap="true">@Michigan</td><td><b class="loss">L</b> 38-34</td></tr>
    <tr><td>9/19</td><td nowrap="true">Michigan State</td><td><b class="win">W</b> 33-30</td></tr>
    <tr><td>9/26</td><td nowrap="true">@Purdue</td><td><b class="win">W</b> 24-21</td></tr>
    <tr><td>10/03</td><td nowrap="true">Washington</td><td><b class="win">W</b> 37-30</td></tr>
    <tr><td>10/03</td><td nowrap="true">No. 6 USC</td><td><b class="loss">L</b> 34-27</td></tr>
    <tr><td>10/03</td><td nowrap="true">Boston College</td><td><b class="win">W</b> 20-16</td></tr>
    <tr><td>10/03</td><td nowrap="true">Washington State</td><td>7:30 PM</td></tr>
    <tr><td>10/03</td><td nowrap="true">Navy</td><td>2:30 PM</td></tr>
    <tr><td>10/03</td><td nowrap="true">Stanford</td><td>TBD</td></tr>
    <tr><td>10/03</td><td nowrap="true">Connecticut</td><td>2:30 PM</td></tr>
    <tr><td>10/03</td><td nowrap="true">Stanford</td><td>8:00 PM</td></tr>
  </table>
</div>