<h3>Conferences</h3>
<div>
  <table class="table1">
    <tr><th>Date</th><th>Conference</th></tr>
    <tr><td>6/2010</td><td nowrap="true">RailsConf<br/>(Baltimore, MD)</td></tr>
    <tr><td>6/2008</td><td nowrap="true">RailsConf<br/>(Portland, OR)</td></tr>
    
  </table>
</div>