<h3>Follow</h3>
<p>
  <a href="http://twitter.com/MarkHolton">
    <img src="/images/twitter.png" width="32" height-"32" border="0"/>@MarkHolton</a>
</p>
<p>
  <a href="http://delicious.com/holtonma">
    <img src="/images/delicious-icon.png" width="32" height-"32" border="0"/>@holtonma</a>
</p>