<div id="twitter_div" class="box">
  <ul id="twitter_update_list">
    <li>
      <script src="http://widgets.twimg.com/j/2/widget.js"></script>
      <script>
      new TWTR.Widget({
        version: 2,
        type: 'profile',
        rpp: 3,
        interval: 6000,
        width: 'auto',
        height: 150,
        theme: {
          shell: {
            background: '#ffffff',
            color: '#333333'
          },
          tweets: {
            background: '#ffffff',
            color: '#444444',
            links: '#a0de85'
          }
        },
        features: {
          scrollbar: false,
          loop: false,
          live: false,
          hashtags: true,
          timestamp: true,
          avatars: false,
          behavior: 'all'
        }
      }).render().setUser('MarkHolton').start();
      </script>
      
    </li>
  </ul>
  <span class="website">
    <a href="http://www.twitter.com/markholton" title="Follow me on Twitter">Follow me on Twitter</a>
  </span>
</div>