<h1>Welcome, Fellow Irish Optimists</h1>
<%= link_to "Irish Optimist Posts", posts_path %>

<%= render :partial => "posts/posts" %>

<%# render :partial => "blogs" %>

<%# render :partial => "ads" %>

<%# render :partial => "schedules" %>

