<h1>Thoughts on web application development</h1>

home<%= render :partial => "posts/posts" %>

<%# render :partial => "blogs" %>

<%# render :partial => "ads" %>

<%# render :partial => "schedules" %>

