<h1>Welcome, Fellow Fighting Irish Optimists!</h1>

<%= render :partial => "posts/posts" %>

<%# render :partial => "blogs" %>

<%# render :partial => "ads" %>

<%# render :partial => "schedules" %>

