<div id="centercol">
  <div class="hresume">

    <div id='nav'>
      <ul>
        <li><a href="#work_history" title="Professional Experience">Professional Experience</a></li>
        <li><a href="#open_source" title="Open Source">Open Source</a></li>
        <li><a href="#skills" title="Skills &amp; Technologies">Skills <abbr class='amp'>&amp;</abbr> Technologies</a></li>
      </ul>

    </div><!-- /NAV -->

    <div id="me" class="vcard">
      <h1 class="fn n" id="ap">
        <a href="http://markholton.com/" class="url" title="Mark Holton">
          <span class="given-name">Mark</span>
          <span class="family-name">Holton</span>
        </a>
      </h1>

      <h2 class="title"><a href="http://github.com/holtonma">Web Application Developer</a></h2>
	    <a href="mailto:holtonma@gmail.com;">holtonma@gmail.com</a>
      <div class="adr">
        <span class="locality">Bothell</span>, 
        <span class="region">WA</span>, 
        <span class="postal-code">98012</span>
      </div>
      <div class="tel"><span class="value">(425) 345-6764</span></div>

      <a href="http://suda.co.uk/projects/X2V/get-vcard.php?uri=http://markholton.com/about" 
         title="Download my vCard into your addressbook" class="download">
        <img src="/images/vcard.png" alt="Download my card into your addressbook" class="download" />
      </a>
    </div><!-- ...VCARD -->

    <div id="work_history">

      <h3>Professional Experience</h3>
      <div class="vcalendar">

        <div class="experience vevent vcard alt">
          <div class="htitle">
            <span class="org">University of Washington</span>
            <span class="title"><a href="">Certificate in Ruby Programming</a></span>
          </div>

          <div class="date_duration">
            <abbr class="dtstart" title="2008-01-31">January 2008</abbr>
            -
            <abbr class="dtend" title="2008-12-31">Present</abbr>
          </div>
          <ul class="description">
            <li>Develop curriculum for Ruby courses.</li>
            <li>Instruct Advanced and Intermediate Ruby courses.</li>

            <li>Coach students with experience ranging from none to working professionals.</li>
          </ul>
          <div class="contact">
            Contact :
            <span class="vcard">
              <span>
                <a class="fn email" href="mailto:"></a>
              </span>
            </span>

          </div>
        </div>

        <div class="experience vevent vcard">
          <div class="htitle">
            <span class="org">AT&T</span>
            <span class="title">Principle Technology Security - Developer Team Lead</span>
          </div>

          <div class="date_duration">
            <abbr class="dtstart" title="2007-06-01">2007</abbr>
            -
            <abbr class="dtend" title="2010-10-20">Present</abbr>
          </div>
          <ul class="description">
            <li>Develops and maintains production website systems.</li>
            <li></li>
	        </ul>
          <div class="contact">
            Contact :
            <span class="vcard">
              <span>
                <a class="fn email" href="mailto:"></a>
              </span>
            </span>
          </div>
        </div>

        <div class="experience vevent vcard alt">
          <div class="htitle">
            <span class="org">Peak Systems (Peak Internet Inc)</span>
            <span class="title">Developer Team Lead</span>
          </div>
          <div class="date_duration">
            <abbr class="dtstart" title="2006-06-31">June 2006</abbr>
            -
            <abbr class="dtend" title="2007-06-01">June 2007</abbr>
          </div>
          <ul class="description">
            <li>[bullet]</li>
            <li></li>
          </ul>
          <div class="contact">
            Contact :
            <span class="vcard">
              <span>
                <a class="fn email" href="mailto:"></a>
              </span>
            </span>
          </div>
        </div>

        <div class="experience vevent vcard">
          <div class="htitle">
            <span class="org">The Boeing Company</span>
            <span class="title">Senior Software Engineer</span>
          </div>
          <div class="date_duration">
            <abbr class="dtstart" title="2001-01-31">January 2001</abbr>
            -
            <abbr class="dtend" title="2006-12-31">December 2006</abbr>
          </div>
          <ul class="description">
            <li>did some stuff</li>
            <li></li>
          </ul>
          <div class="contact">
            Contact :
            <span class="vcard">
              <span>
                <a class="fn email" href="mailto:"></a>
              </span>
            </span>
          </div>
        </div>

        <div class="experience vevent vcard">
          <div class="htitle">
            <span class="org">Microvision, Inc.</span>
            <span class="title">Senior Software Engineer</span>
          </div>

          <div class="date_duration">
            <abbr class="dtstart" title="2001-01-31">January 2001</abbr>
            -
            <abbr class="dtend" title="2006-12-31">December 2006</abbr>
          </div>
          <ul class="description">
            <li>did some stuff</li>
            <li></li>
          </ul>
          <div class="contact">
            Contact :
            <span class="vcard">

              <span>
                <a class="fn email" href="mailto:"></a>
              </span>
            </span>
          </div>
        </div>

      </div><!-- ...VCALENDAR -->
    </div><!-- ...WORK_HISTORY -->

    <div id="open_source">
      <h3><a href="http://github.com/holtonma">Open Source Contributions</a></h3>
      <div class="experience vevent vcard">
        <div class="htitle">

          <span class="org">
            <a href="http://github.com/holtonma" title="EyeOnMajors">EyeOnMajors.com</a>
          </span>
          <span class="title">Primary Developer/Maintainer</span>
        </div>
        <div class="date_duration">
          <abbr class="dtstart" title="2006-01-31">November 2008</abbr>

          -
          <abbr class="dtend" title="2008-12-31">Present</abbr>
        </div>
        <ul class="description">
          <li>did some more stuff</li>
          <li></li>
        </ul>
        <div class="contact">

          Contact :
          <span class="vcard">
            <span>
              <a class="fn email" href="mailto:"></a>
            </span>
          </span>
        </div>
      </div>

      <div class="experience vevent vcard">

        <div class="htitle">
          <span class="org">
            <a href="http://github.com/holtonma/" title="Carl_Spackler: Project Info">Carl Spackler</a>
          </span>
          <span class="title">Primary Developer/Maintainer</span>
        </div>
        <div class="date_duration">
          <abbr class="dtstart" title="2006-01-31">July 2008</abbr>

          -
          <abbr class="dtend" title="2008-12-31">Present</abbr>
        </div>
        <ul class="description">
          <li></li>
          <li></li>
        </ul>
        <div class="contact">
          Contact :
          <span class="vcard">
            <span>
              <a class="fn email" href="mailto:"></a>
            </span>
          </span>
        </div>
      </div>

     </div><!-- ...OPEN_SOURCE -->

    <div id="skills">
      <h3>Skills and Technologies</h3>
      <dl>
        <dt>
          Programming in languages including:
        </dt>
        <dd>
          <a href="http://www.technorati.com/tag/ruby" rel="tag" class="skill">Ruby</a>
        </dd>        
	<dd>
          <a href="http://www.technorati.com/tag/javascript" rel="tag" class="skill">JavaScript</a>
        </dd>
        <dd>
          <a href="http://www.technorati.com/tag/rails" rel="tag" class="skill">Rails</a>
        </dd>
        <dd>
          <a href="http://www.technorati.com/tag/sql" rel="tag" class="skill">SQL</a>
        </dd>
        <dd>
          <a href="http://www.technorati.com/tag/xml" rel="tag" class="skill">XML</a>
        </dd>
        <dd>
          <a href="http://www.technorati.com/tag/html" rel="tag" class="skill">HTML</a>
        </dd>
      </dl>

      <dl>
        <dt>
          Using Databases including:
        </dt>
        <dd>
          <a href="http://www.technorati.com/tag/mysql" rel="tag" class="skill">MySQL</a>
        </dd>
        <dd>
          <a href="http://www.technorati.com/tag/postgresql" rel="tag" class="skill">PostgreSQL</a>
        </dd>
        <dd>
          <a href="http://www.technorati.com/tag/sqlite" rel="tag" class="skill">SQLite</a>
        </dd>
        <dd>
          <a href="http://www.technorati.com/tag/sqlserver" rel="tag" class="skill">SQLServer</a>
        </dd>
      </dl>

      <dl>
        <dt>
          Operating Systems/Clouds:
        </dt>
        <dd>
          <a href="http://www.technorati.com/tag/heroku" rel="tag" class="skill">Heroku cloud</a>
        </dd>
        <dd>
          <a href="http://www.technorati.com/tag/osx" rel="tag" class="skill">OS X</a>
        </dd>
        <dd>
          <a href="http://www.technorati.com/tag/linux" rel="tag" class="skill">Linux</a>
        </dd> 
      </dl>
      <dl>
        <dt>
          Development Tools:
        </dt>
        <dd>
          <a href="http://www.technorati.com/tag/textmate" rel="tag" class="skill">TextMate</a>
        </dd>
        <dd>
          <a href="http://www.technorati.com/tag/git" rel="tag" class="skill">Git</a>
        </dd>
        <dd>
          <a href="http://www.technorati.com/tag/subversion" rel="tag" class="skill">Subversion</a>
        </dd>
      </dl>
    </div><!-- ...SKILLS SECTION -->

  </div><!-- ...HRESUME -->
</div> <!--/centercol -->