<div id="footer">
	<p class="fl">&copy; <%= Time.now.year %>. Powered by <a href="#">RedGrind, LLC</a>. 
	  <a href="http://validator.w3.org/check?uri=http://www.markholton.com">
	    <%= image_tag("ico-html.gif", :alt => "MarkHolton.com W3C validator") %>
	  </a>
	  <a href="http://jigsaw.w3.org/css-validator/validator?uri=http://www.markholton.com">
	    <%= image_tag("ico-css.gif", :alt => "MarkHolton.com CSS validator") %>
	  </a>
	</p>
	<p class="fr">
	  <a href="http://www.redgrind.com">RedGrind, LLC</a>
	</p>
</div> <!--/footer -->