<div class="pics">
  <!-- DISPLAYS THE IMAGE URL SPECIFIED IN THE CUSTOM FIELD -->
  <a title="Fresh News" href="http://www.woothemes.com/demo/freshfolio/2008/06/17/fresh-new/">
    <img src="http://www.woothemes.com/demo/freshfolio/wp-content/themes/freshfolio/thumb.php?src=http://www.woothemes.com/demo/uploads/freshnews.jpg&amp;h=75&amp;w=75&amp;zc=1&amp;q=100" 
    alt="Fresh News" />
  </a>       
  <!-- DISPLAYS THE IMAGE URL SPECIFIED IN THE CUSTOM FIELD -->       
  <a title="Livewire" 
     href="http://www.woothemes.com/demo/freshfolio/2008/06/17/livewire-2/">
     <img   src="http://www.woothemes.com/demo/freshfolio/wp-content/themes/freshfolio/thumb.php?src=http://www.woothemes.com/demo/uploads/livewire-20.jpg&amp;h=75&amp;w=75&amp;zc=1&amp;q=100" 
     alt="Livewire" />
  </a>
  <!-- DISPLAYS THE IMAGE URL SPECIFIED IN THE CUSTOM FIELD -->
  <a title="Flash News" 
     href="http://www.woothemes.com/demo/freshfolio/2008/05/17/flashnew/">
     <img src="http://www.woothemes.com/demo/freshfolio/wp-content/themes/freshfolio/thumb.php?src=http://www.woothemes.com/demo/uploads/flashnews.jpg&amp;h=75&amp;w=75&amp;zc=1&amp;q=100" alt="Flash News" />
   </a>
</div>